# v0 sandbox internal files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts
.snowflake/
.v0-trash/
.vercel/
next.user-config.*

# Environment variables
.env*.local
.env

# Common ignores
node_modules
.next/
.vite/
.turbo/
dist/
coverage/
*.log
*.tsbuildinfo
.DS_Store

package-lock.json

# Added by code-review-graph
.code-review-graph/
AGENTS.md
CLAUDE.md
.windsurfrules
.opencode.json

.mcp.json
.claude
